$color__primary : #000;
$color__base : #fff;
$color__alert: #F83838;

// Charactors
$color__char__base : #000;
$color__char__alert : #F83838;

//Buttons
$color__btn__base : #000;
$color__btn__primary : #000;
$color__btn__accepted : #000;

// 